---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
const [fisrtName, lastName] = name.split(" ");

const [specialty_fisrt, specialty_second] = specialty.split("&");
---

<div class="py-24 md:py-32" id="#hero">
  <h1
    transition:animate="slide"
    class="text-7xl font-serif mb-1.5 sm:text-8xl md:text-8xl md:mb-0 text-white font-bold tracking-tightest"
  >
    <span>{fisrtName}</span>
    <span class="text-pink-500">{lastName}</span>
  </h1>

  <p
    transition:animate="slide"
    class="text-4xl sm:text-5xl leading-[46px] md:text-6xl font-serif text-blue-500 font-bold tracking-tighter mb-9"
  >
    <span class="text-rose-500">{specialty_fisrt.trim().split(" ")[0]}</span>
    {specialty_fisrt.trim().split(" ").slice(1)}
    <span class="text-white">&</span>
    <span class="text-rose-500">{specialty_second.trim().split(" ")[0]}</span>
    {specialty_second.trim().split(" ").slice(1)}
  </p>

  <p class="text-neutral font-normal text-base md:text-lg mb-16">
    {summary.map((paragraph, pIndex) => (
      <span class="block mb-4">
        {paragraph.split(" ").map((word, wIndex) => (
          <span class="cascade-word" style={`--i: ${pIndex * 10 + wIndex};`}>
            {word}&nbsp;
          </span>
        ))}
      </span>
    ))}
  </p>

  <a
    class="text-sm py-5 px-8 text-white inline-block font-bold leading-5 bg-primary rounded-full"
    href={`mailto:${email}`}
    >Get in Touch</a
  >
</div>
